<h3>{{title}}</h3>
@if(creditos.length==0){
            <div class="alert alert-warning">No hay registros</div> 
            }@else {
                <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Monto credito</th>
                        <th>Fecha de entrega</th>
                        <th>Numero de pagos</th>
                        <th>Frecuencia de pagos</th>
                        <th>Estatus</th>
                        <th>Cliente</th>
                        <th>Asesor</th>
                        <th>Eliminar</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @for (credito of creditos; track $index) {

                    <tr>
                        <td> {{credito.id_credito}} </td>
                        <td> {{credito.monto_credito}}</td>
                        <td> {{credito.fecha_entrega}}</td>
                        <td> {{credito.numero_pagos}}</td>
                        <td> {{credito.frecuencia_pagos}}</td>
                        <td> {{credito.estatus_pago}}</td>
                        <td>{{credito.cliente.nombre}}</td>
                        <td>{{credito.usuario?.nombre || 'Sin asesor'}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                            (click)="onRemoveCredit(credito.id_credito)">
                                Eliminar
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm"
                            [routerLink]="['/creditos/editar', credito.id_credito]">
                                Editar
                            </button>
                        </td>
                    </tr>

                    }
                
                </tbody>
            </table>

            }