<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">

    <h3>Formato para  {{(credito.id_credito)? 'Actualizar': 'Crear'}}</h3>
    <input placeholder="monto"
    name="monto_credito"
    [(ngModel)]="credito.monto_credito"
    class="form-control my-2"
    required>

    <input placeholder="Fecha de entrega"
    name="fecha_entrega"
    [(ngModel)]="credito.fecha_entrega"
    class="form-control my-2"
    required>

    <input placeholder="Numero de pagos"
    name="numero_pagos"
    [(ngModel)]="credito.numero_pagos"
    class="form-control my-2"
    required>

    <input placeholder="Frecuencia de pagos"
    name="frecuencia_pagos"
    [(ngModel)]="credito.frecuencia_pagos"
    class="form-control my-2"
    required>

    <input placeholder="Estado de pago"
    name="estatus_pago"
    [(ngModel)]="credito.estatus_pago"
    class="form-control my-2"
    required>

    <select [(ngModel)]="credito.cliente" name="cliente" id="cliente" class="form-control my-2" required=>
        <option [ngValue]="null" disabled selected>Seleccione un rol</option>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{cliente.id_cliente}} 
            {{cliente.apellido_paterno}} {{cliente.apellido_materno}} {{cliente.nombre}}</option>
    </select>


  
    

    <div>
        <button type="submit" class="btn btn-primary m-2"
        [disabled]="userForm.invalid">
                {{(credito.id_credito)? 'Actualizar': 'Crear'}}
        </button>
        <button class="btn btn-secondary my-2"
        (click)="onClear(userForm)" 
        >
            Limpiar
        </button>

    </div>

</form>