<div class="card w-25">
    <div class="card-content">
        <div class="card-header">
            <h5 class="card-title">Menu</h5>
        </div>
        <div class="card-body">
            <div>
        <button [routerLink]="['/clientes']" type="button" class="btn btn-outline-dark btn-lg my-3">CLIENTES</button>

            </div>
            <div>
        <Button [routerLink]="['/clientes']" type="button" class="btn btn-outline-dark btn-lg my-3"> USUARIOS</Button>

            </div>
            <div>
        <Button [routerLink]="['/clientes']" type="button" class="btn btn-outline-dark btn-lg my-3"> CREDITOS</Button>

            </div>
        </div>
    </div>
</div>