<div *ngIf="authService.rol === 'ROLE_SUPERVISOR' || authService.rol === 'ROLE_CAPTURISTA'">
  <h3>{{ title }}</h3>

  <div *ngIf="clientes.length === 0" class="text-center my-4">
    <div class="spinner-grow text-primary me-2" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div *ngIf="clientes.length > 0">
    <input
      type="text"
      class="form-control my-3 w-25"
      placeholder="Buscar cliente..."
      [(ngModel)]="filtroCliente"
      (ngModelChange)="actualizarFiltroClientes()" />
  </div>

  <table *ngIf="clientesFiltrados.length > 0" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Fecha nacimiento</th>
        <th>Ingresos</th>
        <th *ngIf="authService.rol === 'ROLE_CAPTURISTA'">Eliminar</th>
        <th *ngIf="authService.rol === 'ROLE_CAPTURISTA'">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientesFiltrados; index as i">
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido_paterno }}</td>
        <td>{{ cliente.apellido_materno }}</td>
        <td>{{ cliente.fecha_nacimiento }}</td>
        <td>{{ cliente.ingresos_mensuales | number: '1.0-0' }}</td>

        <td *ngIf="authService.rol === 'ROLE_CAPTURISTA'">
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="onRemoveClient(cliente.id_cliente)">
            Eliminar
          </button>
        </td>
        <td *ngIf="authService.rol === 'ROLE_CAPTURISTA'">
          <button
            class="btn btn-outline-info btn-sm"
            [routerLink]="['/clientes/editar', cliente.id_cliente]">
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="clientesFiltrados.length === 0 && filtroCliente" class="alert alert-warning mt-3">
    No se encontraron clientes que coincidan con "{{ filtroCliente }}"
  </div>
</div>

<div *ngIf="authService.rol !== 'ROLE_SUPERVISOR' && authService.rol !== 'ROLE_CAPTURISTA'" class="alert alert-danger mt-4">
  NO CUENTAS CON LOS PERMISOS PARA ESTE RECURSO
</div>
